@font-face {
    font-family: "Aller";
    src: url("fonts/AllerDisplay_Std_Rg.ttf") format("ttf"),
    url("fonts/Aller_Std_Rg.ttf") format("ttf");
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Ubuntu";
    src: url("fonts/Ubuntu-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("fonts/RobotoMono-Regular.ttf") format("ttf");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: "Aller";
    background-color: rgb(225, 241, 255);
    overflow: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(40, 40, 40);
    font-family: "JetBrains Mono";
    border-top: 3px solid rgb(0, 140, 170);
    border-bottom: 3px solid rgb(0, 160, 170);
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.7);
    font-size: 18pt;
    color:#3bffef!important;
    color: rgb(21, 50, 75);
    transition: all .4s;
}

.registration-block {
    padding: 50px 0;
}

.registration-block form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    padding: 50px 70px;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.registration-block form h2 {
    font-weight: bold;
    margin-bottom: 30px;
}

.registration-block .item {
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.registration-block .create-account, .log-in {
    user-select: none;
    border: none;
    border-radius: 10%;
    background: #40c05c;
    padding: 8px 16px;
    margin-bottom: 10px;
    min-width: 100px;
    text-align: center;

    font-family: "Ubuntu";
    font-size: 18px;
    color: #fff;
}

.registration-block .create-account:hover, .log-in:hover {
    cursor: pointer;
    background: #1daa29;
    box-shadow: 0 0 0 3px #acf0ae;
}

.registration-block .create-account:active, .log-in:active {
    background: #1da000;
}

.account-existed-check {
    font-family: "Lato";
    font-size: 12pt;
}

a {
    font-family: "Segoe UI";
    font-size: 11pt;
    font-weight: 700;
    text-decoration: none;
    color: rgb(24, 197, 188);
}

a:hover {
    color: rgb(35, 170, 163);
}

a:active {
    color: rgb(29, 133, 127);
}

p {
    margin: 0;
}
