@font-face {
    font-family: "Aller";
    src: url("fonts/AllerDisplay_Std_Rg.ttf") format("ttf"),
    url("fonts/Aller_Std_Rg.ttf") format("ttf");
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Ubuntu";
    src: url("fonts/Ubuntu-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("fonts/RobotoMono-Regular.ttf") format("ttf");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: "Aller";
    background-color: rgb(226, 255, 225);
    overflow: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(40, 40, 40);
    font-family: "JetBrains Mono";
    border-top: 3px solid rgb(0, 155, 0);
    border-bottom: 3px solid rgb(0, 160, 0);
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.7);
    font-size: 18pt;
    color:#4bff3b!important;
    color: rgb(21, 50, 75);
    transition: all .4s;
}

h1 {
    font-size: 30pt;
    user-select: none;
    text-shadow:
        1px 1px white,
        2px 2px rgb(110, 110, 110);
    color: #111;
    transition: all 0.4s;
}

.auth-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.login-btn, .register-btn {
    user-select: none;
    border-radius: 5%;
    background: #40c05c;
    padding: 8px 16px;
    min-width: 100px;
    text-align: center;

    font-family: inherit;
    color: #fff;
}

.login-btn:hover, .register-btn:hover {
    cursor: pointer;
    background: #1daa29;
    box-shadow: 0 0 0 3px #acf0ae;
}

.login-btn:active, .register-btn:active {
    background: #1da000;
}

.login-btn {
    margin-right: 10px;
}

.main-container {
    display: flex;
    justify-content: center;
}

.manager-info {
    width: 300px;
}

p {
    font-family: "Ubuntu";
    font-size: 28pt;
    color: #222;
    margin: 35px 0 0 20px;
}

.manager-desc {
    font-family: "Lato";
    font-size: 24pt;
    width: 500px;
}

.tostart {
    user-select: none;
    font-family: "Roboto Mono";
    font-size: 22px;
    margin-top: 95px;
    text-decoration: underline;
}